/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:repeat(4,242.5px);
	grid-template-rows:repeat(5,124px);
	gap:10px;
}
.box{
	background-color:green;
	padding:30px;
	color:white;
}
#box1{
	grid-column:span 4/auto;
}
#box2{
	grid-row-start:2;
	grid-row-end:6;
}
#box3{
	grid-column-start:2;
	grid-column-end:3;
}
#box4{
	grid-column-start:3;
	grid-column-end:5;
}
#box5{
	grid-column-start:2;
	grid-column-end:4;
}
#box10{
	grid-column-start:2;
	grid-column-end:5;
}